.skeleton {
  background-color: #e2e2e2;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
  );
  animation: shimmer 1.4s infinite;
}

.ratingSkeleton {
  position: absolute;
  top: 15px;
  left: 20px;
  background: rgba(0, 0, 0, 0.7);
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  border:none;
  z-index: 10;
}
@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.skeleton--text {
  height: 1em;
  border-radius: 2px;
}

.skeleton--circle {
  border-radius: 50%;
}

.skeleton--rectangle {
  border-radius: 8px;
}
