.actorCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease;
  padding: 10px 0;
  width: 100%;
}

.actorCard:hover {
  transform: translateY(-5px);
}

.actorImage {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: .5rem;
  border: 2px solid var(--gray-5);
  transition: border-color 0.2s ease;
}

.actorCard:hover .actorImage {
  border-color: var(--primary-hover);
}

.actorName {
  font-weight: 600;
  font-size: 1rem;
  color: var(--text-color);
  margin: 0;
}

.actorCharacter {
  font-size: 0.875rem;
  color: #666;
  margin: 0;
}
