.root {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;

  background: #ffd700;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  z-index: 9999;
}

.root::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(135deg, #e50914 0%, #b2070f 100%);
  animation: slide 1.2s ease-out infinite;
  border-radius: 4px;
}

@keyframes slide {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}